project = "hiyoko"

environment = "develop"

vpc_cidr = "10.0.0.0/16"

subnets_cidr = {
  public_a  = "10.0.1.0/24"
  public_c  = "10.0.2.0/24"
  private_a = "10.0.3.0/24"
  private_c = "10.0.4.0/24"
}

availability_zone = {
  a = "ap-northeast-1a"
  c = "ap-northeast-1c"
}